@using System.Data
@model DataSet

<div class="refund-content" style="height:830px; width:1540px">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#list" class="nav-pax">List Of Refund</a></li>
        <li id="tabdetail"><a data-toggle="tab" href="#detail" class="nav-pax" id="tab-transaction">Refund Detail</a></li>
    </ul>
    <div class="tab-content">
        <div class="ajax-loader">
            <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
        </div>
        <div id="list" class="tab-pane fade in active">
            <div class="col-sm-12">
                <fieldset class="test-fieldst" style="width:1485px;">
                    <legend class="test-fieldst">Refund Date Range</legend>
                    <table class="record-rfnd" style="margin-left:23px;margin-top:12px">
                        <tr>
                            <td>From:</td>
                            <td>
                                <div class="width-group">
                                    <div class="col-sm-9 n-padding">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateFromListRefund')"></span>
                                            <input type="text" class="form-engine" id="dateFromListRefund" value="@ViewBag.dateFrom" style="height:28px!important">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td style="width: 25px;"></td>
                            <td style="width:30px;">To</td>
                            <td>
                                <div class="width-group">
                                    <div class="col-sm-9 n-padding">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateToListRefund')"></span>
                                            <input type="text" class="form-engine" id="dateToListRefund" value="@ViewBag.dateTo" style="height:28px!important">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td></td>

                        </tr>
                        <tr style="height:50px;"></tr>
                        <tr>
                            <td>Query by:</td>
                            <td>
                                <select class="form-engine" id="dropdownType" onclick="boutonvu()" style="height:28px!important">
                                    <option></option>
                                    <option>Agent Numeric Code</option>
                                    <option>Document Number</option>
                                    <option>Passenger Name</option>

                                </select>
                            </td>
                            <td></td>

                            <td></td>
                            <td></td>
                            <td>
                                <input type="text" class="form-engine" id="dropdownDocs" style="height:28px!important" />
                            </td>

                            <td>
                                <button class="point-interogation pink btn" id="showListRefundCodeModal" data-toggle="modal" data-target="#AgentCodeModal" style="display:none;left:1px; top:-1px" onclick="chercherefn()"><span class="point-span">?</span></button>
                            </td>

                        </tr>
                    </table>

                    <div class="Rfndsearch" style="position:relative; left:940px;top:-30px;">
                        <div class="col-sm-1"><button type="button" class="search-interogation pink btn" onclick="setCriteriaListRefund()"><span class="search-span">SEARCH</span></button></div>
                        <div class="col-sm-1"><button class="search-interogation pink btn" onclick="ClearListRefund()"><span class="search-span">CLEAR</span></button></div>
                        <div class="col-sm-1"><button class="search-interogation pink btn" data-dismiss="modal"><span class="search-span">CLOSE</span></button></div>
                    </div>
                </fieldset>
            </div>
            <div class="col-ms-8" id="loadListRefund">
                <div class="table-record-display " style="overflow: auto;top: 12px;position: relative;left: 19px;width: 1485px;height:200px">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="pink">Refunded Doc No</th>
                                <th class="pink">Date Refund</th>
                                <th class="pink">Original Ticket No</th>
                                <th class="pink">Origin TKTT Date Of Issue</th>
                                <th class="pink">Agent Num Code</th>
                                <th class="pink">Passenger Name</th>
                                <th class="pink">Doc Type</th>
                                <th class="pink">Currency</th>
                                <th class="pink">Refund Amount</th>
                                <th class="pink">Penalty Curr</th>
                                <th class="pink">Penalty Fee </th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table-summary" style="position: relative;left: 16px;width:450px;height:200px; top:15px; background-color:white">
                    <table class="table table-bordered table-striped table-hover ">
                        <thead>
                            <tr>
                                <th class="pink">No of Doc</th>
                                <th class="pink">Currency</th>
                                <th class="pink">Amount</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="totdoc" style="position: relative;left: 1226px;top: -176px;">
                    <span class="doccompt">Total No of Doc</span>
                    <img src="~/Images/CSVPic.jpg" style="height:30px;top: 0px;left: 152px;" />
                </div>
            </div>

        </div>
        <div id="detail" class="tab-pane fade">
            <div class="tab-rfnddetail">
                <div class=" col-sm-12" style="padding:7px;">
                    <table style="font-size:small;">
                        <tr>
                            <td>Passenger Name</td>
                            <td style="width:225px;"></td>
                            <td>Original Date Of Issue</td>
                            <td style="width:225px;"></td>
                            <td>Original Doc Type</td>
                            <td style="width:225px;"></td>
                            <td>Original Transaction Code</td>
                            <td style="width:225px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td>Refund Doc No:</td>
                            <td style="width:225px;"></td>
                            <td>Date Refund</td>
                            <td style="width:225px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td>Original DocNo</td>
                            <td style="width:225px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td>Original Routing</td>
                            <td colspan="6"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td colspan="6"></td>
                            <td><button class="search-interogation pink btn" id="showRefundCpns" style="width:137px">Refunded Coupon</button></td>
                            <td><button class="search-interogation pink btn" onclick="removeSousMenu()">close</button></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <fieldset class="test-fieldst" style="padding:5px;width:1274px">
                        <legend class="test-fieldst">Original Details</legend>
                        <div class="loadOrDtl">
                            <div class="table-record-display" style="overflow: auto;top: -30px;position: relative;left: 0px;height:100px; width:1265px">
                                <table class="table table-bordered" style="width:1260px;">
                                    <thead>
                                        <tr>
                                            <th class="pink">DateOfIssue</th>
                                            <th class="pink">Trans.Type</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Amount Collected</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Tax Collected</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Surcharge Collected</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Commission Collected</th>
                                            <th class="pink">Agent Code </th>
                                            <th class="pink">Endos Restriction</th>


                                        </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-12">
                    <fieldset class="test-fieldst" style="padding:5px;width:1274px">
                        <legend class="test-fieldst">Refunded Details</legend>
                        <div class="loadrfnDtl">
                            <div class="table-record-display" style="overflow: auto;top: -30px;position: relative;left: 0px;height:100px; width:1265px">
                                <table class="table table-bordered" style="width:1260px;">
                                    <thead>
                                        <tr>
                                            <th class="pink">DateOfIssue</th>
                                            <th class="pink">Trans.Type</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Amount Refunded</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Tax Refunded</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Surcharge Refunded</th>
                                            <th class="pink">Currency</th>
                                            <th class="pink">Commission Refunded</th>
                                            <th class="pink">Agent Code </th>
                                            <th class="pink">Endos Restriction</th>


                                        </tr>
                                    </thead>

                                </table>
                            </div>
                            <div class="penalty"> Penalty Fees: </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12" style="margin-top:7px;">
                        <fieldset class="test-fieldst" style="padding:5px;width:1274px;margin-left:-20px">
                            <legend class="test-fieldst">Difference</legend>
                            <div class="loadrfnDtl">
                                <div class="table-record-display" style="overflow: auto;top: -30px;position: relative;left: 0px;height:100px;width:1265px">
                                    <table class="table table-bordered" style="width: 850px;left: 185px;position: relative;">
                                        <thead>
                                            <tr>

                                                <th class="pink">Currency</th>
                                                <th class="pink">Amount Remained</th>
                                                <th class="pink">Currency</th>
                                                <th class="pink">Tax Remained</th>
                                                <th class="pink">Currency</th>
                                                <th class="pink">Surcharge Remained</th>
                                                <th class="pink">Currency</th>
                                                <th class="pink">Commission Remained</th>


                                            </tr>
                                        </thead>

                                    </table>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AgentCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="Doc modal-content" style="width: 58%;left: 17%; background-color: rgba(135, 206, 235, 1) !important; ">
                    <div class="agentModal">
                        <div class="modal-header" style="background-color: white; margin-bottom: 21px;">
                            <h5 class="modal-title" id="myModalLabel">FrmCustomAgentQuery</h5>
                            <button type="button" class="close close-agent-code" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="DocCollect-modal-body">
                            <div class="ajax-loader">
                                <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
                            </div>
                            <div class="scoll-tree scoll-agent-code">
                                <div class="head-agent-code-content">
                                    <div class="form-row">
                                        <div class="col col-md-3" style="padding-left: 0px;">Agent Legal Name:</div>
                                        <div class="col col-md-4">
                                            <input type="text" class="form-control" id="name" name="agentName" onkeyup="cherche(this.value)" />
                                        </div>
                                        <div class="col col-md-2">Agent Code:</div>
                                        <div class="col col-md-3">
                                            <input type="text" class="form-control" id="code" name="agentCode" onkeyup="cherche(this.value)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="agentContent" style="width: 98%; max-height: 515px;">
                                    <table class="table table-agent-code" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="35%">Agent Code</th>
                                                <th width="70%">Agent Name</th>
                                            </tr>
                                        </thead>


                                    </table>
                                </div>
                                <div class="autocomplete">

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="background-color:rgba(135, 206, 235, 1) !important;">
                            <div class="col-md-9 footer-agent-code">
                                <div class="col-md-12">
                                    <label>Agent Name: </label>
                                    <label style="color:white;font-size:12px" id="agent-name-label"></label>
                                </div>
                                <div class="col-md-12">
                                    <label>Agent Code: </label>
                                    <label style="color:white; font-size:12px" id="agent-code-label"></label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="Close btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="Close btn" data-dismiss="modal" id="select-name-code" onclick="setNumericode()">Select</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

