
@using System.Data
@model DataSet
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="pink">Departure Date</th>
            <th class="pink">Document No.</th>
            <th class="pink">Passenger Name</th>
            <th class="pink">Original Document No.</th>
            <th class="pink">Origin </th>
            <th class="pink">Origin Dest</th>
            <th class="pink">Carrier</th>
            <th class="pink">Dest City</th>
            <th class="pink">USD Value</th>
            <th class="pink">Last Stop Over Carrier</th>
        </tr>
    </thead>
    <tbody id="summUnusedDoc">
        @foreach (DataRow dr in Model.Tables[0].Rows)
        {
            <tr>
                @for (int i = 0; i < Model.Tables[0].Columns.Count; i++)
                {
                    <td>@dr[Model.Tables[0].Columns[i].ColumnName].ToString()</td>;
                }
            </tr>
        }
    </tbody>
</table>


