@using System.Data
@model DataSet

<div class="col-sm-8">
    <div class="table-record-display" style="height:694px;overflow:auto">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="pink">Period</th>
                    <th class="pink" style="width:94px">Date</th>
                    <th class="pink">Agent Code</th>
                    <th class="pink" style="width:268px">Agent Name</th>
                    <th class="pink">Transaction Type</th>
                    <th class="pink">Transaction Code</th>
                    <th class="pink">CUR</th>
                    <th class="pink">Amount Collected</th>
                    <th class="pink">Amount Remitted</th>
                    <th class="pink">Compiled Commission</th>
                    <th class="pink">No. Of TKTs</th>
                </tr>
            </thead>
            <tbody id="bodyTransType">
                @foreach (DataRow dr in Model.Tables[0].Rows)
                {
                    <tr>
                        @for (int i = 0; i < Model.Tables[0].Columns.Count; i++)
                        {
                            <td>@dr[Model.Tables[0].Columns[i].ColumnName].ToString()</td>;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-4" style="margin-top: 15px;padding-right: 0px;">
    <fieldset class="test-fieldst">
        <legend class="test-fieldst">Summary</legend>
        <div class="table-summary" style="background-color:white;height: 660px;overflow-y: auto;">
            <table class="table table-bordered table-striped">
                @{ int cmpt = 0;}
                <thead>
                    <tr>
                        <th class="pink">Transaction Type</th>
                        <th class="pink">CUR</th>
                        <th class="pink">Amount Collected</th>
                        <th class="pink">Amount Remitted</th>
                        <th class="pink">Compiled Commission</th>
                        <th class="pink">No. Of TKTs</th>
                    </tr>
                </thead>
                <tbody id="bodySummaryTransType">
                    @foreach (DataRow dr in ViewBag.summary.Tables[0].Rows)
                    {
                        <tr>
                            @for (int i = 0; i < ViewBag.summary.Tables[0].Columns.Count; i++)
                            {
                                cmpt += Convert.ToInt32(dr[ViewBag.summary.Tables[0].Columns[5].ColumnName].ToString());
                                <td>@dr[ViewBag.summary.Tables[0].Columns[i].ColumnName].ToString()</td>;
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <table class="table table-bordered table-striped">
            <tbody id="totalTrans">
                <tr>
                    <td width="17.7%"></td>
                    <td width="7.5%"></td>
                    <td width="18%"></td>
                    <td width="18.2%"></td>
                    <td width="22%">Total</td>
                    <td width="">@cmpt</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>





