<div class="Ancillary-content">
    <div class="Ancillary-top"></div>
    <div class="Ancillary-formulaire">
        <form class="form-inline" method="post" action="">
            <label for="document">Document N° :</label>
            <input type="text" name="document">
        </form>
    </div>
    <div class="Ancillary-titre">
        <span class="Ancillary-texte"><b>Form Of Payement</b></span>
    </div>
    <div class="Ancillary-well well-sm cadreA">
        <table class="table table-bordered table1">
            <thead>
                <tr>
                    <th>FOP</th>
                    <th>CUR</th>
                    <th>Amount Collected</th>
                    <th>Remitance CUR</th>
                    <th>Remitence Amount</th>
                    <th>Date Of Issue</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="Ancillary-titre2">
        <span class="Ancillary-texte2"><b>TFCs</b></span>
    </div>
    <div class="Ancillary-well well-lg cadreA">
        <table class="table table-bordered table2">
            <thead>
                <tr>
                    <th>TFC</th>
                    <th>TFC Code</th>
                    <th>CUR</th>
                    <th>Amount</th>
                    <th>Rate</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="Ancillary-titre3">
        <span class="Ancillary-texe3"><b>Ancilaries</b></span>
    </div>
    <div class="Ancillary-well well-md cadreA">
        <table class="table table-bordered table3">
            <thead>
                <tr>
                    <th>Tax</th>
                    <th>Tax Code</th>
                    <th>CUR</th>
                    <th>Amount</th>
                    <th>Rate</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

