
<div class="col-sm-10 textlabel">
    <input type="hidden" value="@ViewBag.CouponNumber" id="DocDetailsAirlineID" />
    <label class="col-sm-3">Coupon No :</label>
    <span class="col-sm-3 SearchedDocValueAbove">
        <b>@ViewBag.CouponNumber</b>
    </span>
</div>
<div class="col-sm-10 textlabel">
    <label class="col-sm-3">Sector Origin :</label>
    <span class="col-sm-3 SearchedDocValueAbove">
        <b>@ViewBag.UsageOriginCode</b> 
    </span>
    <label class="col-sm-3">Sector Destination :</label>
    <span class="col-sm-3 SearchedDocValueAbove">
        <b>@ViewBag.UsageDestinationCode</b> 
    </span>
</div>