<div class="top-process">
    <h3>Customised</h3>
</div>
<div class="container-sales">
    <div class="tools"><b>Tools</b></div>
    <div class="customised-containers">
        <button class="costomised-button">MD Agent</button>
        <button class="costomised-button">Code Share</button>
        <button class="costomised-button">DC Messaging Control</button>
        <button class="costomised-button">MD Fares</button>
        <button class="costomised-button">Flight Schedule</button>
        <button class="costomised-button">Tariff Esception Agreement</button>
        <button class="costomised-button">MD Local Fares</button>
        <button class="costomised-button">MD ROE</button>
        <button class="costomised-button">IT/BT Fare Export</button>
        <button class="costomised-button">Fare Basis</button>
        <button class="costomised-button">File Not Loaded</button>
        <button class="costomised-button">G9 Taxe Query</button>
        <button class="costomised-button">Sales Validation</button>
        <button class="costomised-button">Coupon Usage Validation</button>
        <button class="costomised-button">Public Fares </button>
        <button class="costomised-button">Fare Audit</button>
        <button class="costomised-button">Manual Lift Update</button>
        <button class="costomised-button">Sales TFC Analysis</button>
    </div>
    <div class="navision-title"><b>Navision</b></div>
    <div class="navision">
        <button class="costomised-button">Navision Export</button>
    </div>
</div>
