@using System.Data
@model DataSet
<div class="col-sm-12 tab-content tab-cancellation">

    <div class="content-cancellation ">
        <div class="col-sm-3">
            <fieldset class="test-fieldst">
                <legend class="test-fieldst">Date Range Selection</legend>
                <div class="col-sm-6 width-group">
                    <label class="form-check-label col-form-label col-sm-3 n-padding fromTo">From:</label>
                    <div class="col-sm-9 n-padding">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateFromFlowWithoutSales')"></span>
                            <input type="text" class="form-control" id="dateFromFlowWithoutSales" value="@ViewBag.dateFrom" style="padding-right:3px">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-bottom: 19px;">
                    <label class="form-check-label col-form-label col-sm-3 n-padding fromTo">To:</label>
                    <div class="col-sm-9 n-padding">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateToFlowWithoutSales')"></span>
                            <input type="text" class="form-control" id="dateToFlowWithoutSales" value="@ViewBag.dateTo" style="padding-right:3px">
                        </div>
                    </div>
                </div>

            </fieldset>

        </div>

        <div class="col-sm-2" style="margin-top:10px;">
            <fieldset class="test-fieldst">

                <div class="form-group row" style="padding-left:7px;margin-top:15px">
                    <label class="col-sm-4 col-form-label" style="">Agent No:</label>
                    <div class="col-sm-5" style="padding-left:10px">
                        <input type="text" class="form-control" style="width:120px;" id="agNo" value="-All-" />
                    </div>
                    <div class="col-sm-1 containt-btn" style="width: 33px !important; height:30px;margin-left:10px">
                        <button class="point-interogation green btn" data-toggle="modal" data-target="#AgentCodeModal">
                            <span class="point-span">?</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-2" id="FlownClass">
            <fieldset class="test-fieldst">
                <legend class="test-fieldst">Sales Data Available</legend>
                <div class="col-sm-4 margin-issue">
                    <input class="form-check-input" type="radio" name="chkOAL" value="Both">
                    <label class="form-check-label col-form-label" for="inlineRadio1">Both</label>
                </div>
                <div class="col-sm-4">
                    <input class="form-check-input" type="radio" name="chkOAL" value="oui" checked>
                    <label class="form-check-label col-form-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="col-sm-4">
                    <input class="form-check-input" type="radio" name="chkOAL" value="non">
                    <label class="form-check-label col-form-label" for="inlineRadio1">No</label>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-6">
                <div class="search">
                    <div class="col-sm-2"><button type="button" class="search-interogation green btn" onclick="setCriteriaFlownNoSales()"><span class="search-span">SEARCH</span></button></div>
                    <div class="col-sm-2"><button type="button" class="search-interogation green btn" onclick="clearFlownNoSales()"><span class="search-span">CLEAR</span></button></div>
                    <div class="col-sm-2"><button class="search-interogation green btn" onclick="removeSousMenu()"><span class="search-span">CLOSE</span></button></div>
                </div>
            </div>
            <div class="col-sm-6" style="position: relative;top: -31px;left: -18px;">
                <table class="table table-cancellation">
                    <tr>
                        <td width="50%">Total Amount:</td>
                        <td><input type="text" class="form-control" id="txtFAmt" /> </td>
                    </tr>
                    <tr>
                        <td width="50%">Pax Count:</td>
                        <td><input type="text" class="form-control" id="txtPCount" /> </td>
                    </tr>
                </table>
            </div>
        </div>


        <div id="loadFlownNoSales" style="margin-left: 15px;">
            <div class="ajax-loader">
                <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
            </div>

            <div class="table-record-display" style=" height: 545px;overflow: auto; width: 1712px;">
                <table class="table table-bordered fixed_header">
                    <thead>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12" style="">
                <div class="col-sm-4">
                    <img src='@Url.Content("~/images/CSVPic.jpg")' class="image-csv" style="top:15px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--AgentQuery-->
<div class="modal fade" id="AgentCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="Doc modal-content" style="width: 58%;left: 17%; background-color: rgba(135, 206, 235, 1) !important; ">
            <div class="agentModal">
                <div class="modal-header" style="background-color: white; margin-bottom: 21px;">
                    <h5 class="modal-title" id="myModalLabel">Agent Query</h5>
                    <button type="button" class="close close-agent-code" data-dismiss="modal">&times;</button>
                </div>
                <div class="DocCollect-modal-body">
                    <div class="scoll-tree scoll-agent-code">
                        <div class="head-agent-code-content">
                            <div class="form-row">
                                <div class="col col-md-3" style="padding-left: 0px;">Agent Legal Name:</div>
                                <div class="col col-md-4">
                                    <input type="text" class="form-control" id="name" name="agentName" onkeyup="cherche3(this.value)" />
                                </div>
                                <div class="col col-md-2">Agent Code:</div>
                                <div class="col col-md-3">
                                    <input type="text" class="form-control" id="code" name="agentCode" onkeyup="cherche3(this.value)" />
                                </div>
                            </div>
                        </div>

                        <div class="agentContent" style="width: 98%; max-height: 415px;">
                            <table class="table table-agent-code" style="margin-bottom:0px">
                                <thead>
                                    <tr>
                                        <th width="35%">Agent Code</th>
                                        <th width="70%">Agent Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="autocomplete">

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:rgba(135, 206, 235, 1) !important;">
                    <div class="col-md-9 footer-agent-code">
                        <div class="col-md-12">
                            <label>Agent Name: </label>
                            <label style="color:white;font-size:12px" id="agent-name-label"></label>
                        </div>
                        <div class="col-md-12">
                            <label>Agent Code: </label>
                            <label style="color:white; font-size:12px" id="agent-code-label"></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="Close btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



