@using System.Data
@model DataSet

<div class="col-sm-8">
    <div class="table-record-display contentUnused" style="height:598px;overflow:auto">
        <table class="table table-bordered table-striped" id="SaleMacth">
            <thead>
                <tr>
                    <th class="green-tab">Sales Date</th>
                    <th class="green-tab">Usage Date</th>
                    <th class="green-tab">Passenger Name</th>
                    <th class="green-tab">Carrier</th>
                    <th class="green-tab">Dcument Number</th>
                    <th class="green-tab">Coupon Number</th>
                    <th class="green-tab">Origin</th>
                    <th class="green-tab">Destination</th>
                    <th class="green-tab">RBD</th>
                    <th class="green-tab">Agent Numeric Code</th>
                    <th class="green-tab">Final Share ($)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in Model.Tables[0].Rows)
                {
                    <tr ondblclick="loadDocNum(this,'@dr[Model.Tables[0].Columns[4].ColumnName].ToString()','TKTT')">

                        @for (int i = 0; i < Model.Tables[0].Columns.Count; i++)
                        {
                            if ((i == 0) || (i == 1))
                            {
                                string date = Convert.ToDateTime(dr[Model.Tables[0].Columns[i].ColumnName].ToString()).ToString("dd-MMM-yyyy");
                                <td style="width:95px;">@date</td>
                            }
                            else
                            {

                                <td>@dr[Model.Tables[0].Columns[i].ColumnName].ToString()</td>;
                            }
                        }
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<div class="col-sm-4">
    <table class="table table-cancellation">
        <tr>
            <td width="50%">Total Amount: USD:</td>
            <td><input type="text" class="form-control" value="@ViewBag.txtAmt" id="total" /> </td>
        </tr>
    </table>

</div>



