<table class="tab-refundEng">
    <tr>
        <td>Agent Name</td>
        <td><input type="text" id="@ViewBag.name" class="form-control" value="@ViewBag.Location[0,0]" style="width: 139px;left: 33px;position: relative;" readonly /></td>
    </tr>
    <tr id="AgLocTrans">
        <td>Agent Location</td>
        <td><input type="text" id="@ViewBag.adresse" class="form-control" value="@ViewBag.Location[1,0]" style="width: 139px;left: 33px;position: relative;" readonly /></td>
    </tr>
</table>
