<div class="form-group row" style="padding-left:7px">
    <label class="col-sm-5 col-form-label" style="position: relative;top: 9px;">Agent Name:</label>
    <div class="col-sm-5" style="">
        <input type="text" id="AgNTrans" class="form-control" value="@ViewBag.Location[0,0]" style="width: 195px;" readonly />
    </div>
</div>
<div class="form-group row" style="padding-left:7px">
    <label class="col-sm-5 col-form-label" style="position: relative;top: 9px;">Agent Location:</label>
    <div class="col-sm-5" style="">
        <input type="text" id="locTrans" class="form-control" value="@ViewBag.Location[1,0]" style="width: 195px;" readonly />
    </div>
</div>

