<select class="form-control" id="addeditFlightTrans" onchange="valoption()" disabled>
    <option>@ViewBag.FlightTrans</option>

</select>
<select class="form-control" id="addeditFlightTrans1" disabled>
    <option>@ViewBag.FlightTrans1</option>
</select>
