<div class="col" style="height: 100px;background: white" id="newdivdgtype">
    <table id="dgtype"></table>
</div>

<div class="col" style="height: 150px;background: white;" id="newdivdgOAL">
    <table style="width: 50%;" id="dgOAL">
        <thead>
            <tr>
                <th class="green-tab">Airline</th>
                <th class="green-tab">Lift File Record</th>
                <th class="green-tab">Status</th>
                <th class="green-tab">PNL/SLS/LDM/PFS</th>
                <th class="green-tab">OB</th>
                <th class="green-tab">Billing Period</th>
                <th class="green-tab">OAL Not Billed</th>

            </tr>
        </thead>
    </table>
</div>

<div class="col" style="height: 150px;background: white;" id="newdivdgOWN">
    <table style="width: 50%;" id="dgOWN">
        <thead>
            <tr>
                <th class="green-tab">Airline</th>
                <th class="green-tab">Lift File Record</th>
                <th class="green-tab">Status</th>
                <th class="green-tab">PNL/SLS/LDM/PFS</th>

            </tr>
        </thead>
    </table>
</div>

<div class="col" style="height: 594px;background: white;" id="newdivdgdetails">
    <table style="width: 100%;height:100% !important;" id="dgdetails" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="green-tab">Airline</th>
                <th class="green-tab">Usage Type</th>
                <th class="green-tab">Usage Flight No.</th>
                <th class="green-tab">Usage Date</th>
                <th class="green-tab">Doc Type</th>
                <th class="green-tab">Doc Num</th>
                <th class="green-tab">Billing Period</th>
                <th class="green-tab">Invoice No</th>

            </tr>
        </thead>
    </table>
</div>

<div class="col" style="height: 100px;background: white;" id="newdivdgtotal">
    <table id="dgtotal"></table>
</div>

<div class="input-group" id="newdivdtpFrom">
    <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateFromlifted')"></span>
    <input type="text" class="form-control" name="" id="dateFromlifted" value="@ViewBag.dateTo" style="padding-right:3px">
</div>

<div class="input-group" id="newdivdtpTo">
    <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateTosectorValue')"></span>
    <input type="text" class="form-control" name="" id="dateTolifted" value="@ViewBag.dateTo" style="padding-right:3px">
</div>