<div id="newcontent-pricing">
    <table class="table-bordered">
        <thead>
            <tr>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">RowNo</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Date Of Issue</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Day Of The Week</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Agent No</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Agent Name</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">POS</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Document No</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">CK</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Passenger Name</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">FCMI</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Orig.</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Dest.</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Journey</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Endos Restriction</th>
                <th class="green-tabprocess" style="min-width:100px !important; text-align:center;">Sector Yield</th>
                <!--<th style="display:none" class="green-tabprocess keyelement-15">Stop Over Code</th>-->
                <th style="display:none;min-width:100px !important; text-align:center;" class="green-tabprocess keyelement-18">Passenger Type</th>
                <th style="display:none;min-width:100px !important; text-align:center;" class="green-tabprocess keyelement-19">Passenger Special Purpose Code</th>
                <th style="display:none;min-width:100px !important; text-align:center;" class="green-tabprocess keyelement-22">Commercial Agreement Reference</th>
                <th style="display:none;min-width:100px !important; text-align:center;" class="green-tabprocess keyelement-23">Customer File Reference</th>
            </tr>
        </thead>
    </table>
</div>


<div class="col" style="top:50px" id="newbouttonhideShowPric">
    <button class="showHide green-tabprocess" id="btnpricing" onclick="HideShow('hideShowPric', 'btnpricing')">Show Add-on Details</button>
    <div id="hideShowPric" class="containt-showhide" style="display:none;">
        <ul class="list-group" id="ulpricing">
            <li class="list-group-item">
                <input type="checkbox" name="" onclick="showreportspricing('allkeyFR', 'keyelement')" id="allkeyFR">Select All
            </li>
            <li class="list-group-item">
                <input type="checkbox" onclick="showreportspricing('key18FR', 'keyelement-18')" id="key18FR">Passenger Type
            </li>
            <li class="list-group-item">
                <input type="checkbox" onclick="showreportspricing('key19FR', 'keyelement-19')" id="key19FR">Passenger Special Purpose Code
            </li>
            <li class="list-group-item">
                <input type="checkbox" onclick="showreportspricing('key22FR', 'keyelement-22')" id="key22FR">Commercial Agreement Reference
            </li>
            <li class="list-group-item">
                <input type="checkbox" onclick="showreportspricing('key23FR', 'keyelement-23')" id="key23FR">Customer File Reference
            </li>
        </ul>
    </div>
</div>