
<div class="table-record-display" style="height:600px;overflow:auto" id="newtabDatea">
    <table class="table table-bordered table-striped" style="width: 84%;">
        <thead>
            <tr>
                <th class="green-tab">Document No</th>
                <th class="green-tab">CPN</th>
                <th class="green-tab">Agent No</th>
                <th class="green-tab">Flight No</th>
                <th class="green-tab">Flight Date</th>
                <th class="green-tab">Fare Basis</th>
                <th class="green-tab">Reserved RBD</th>
                <th class="green-tab">Usage RBD</th>
                <th class="green-tab">Remarks</th>
            </tr>
        </thead>
        <tbody id="searchRBDDiscrep"></tbody>
    </table>
</div>
<select class="form-control" id="newAgentNumericCodeDate" style="width:215px;">
    <option>-All-</option>
    <option></option>
</select>

