<div class="table-record-display" id="newdivdgother" style="height:110px;overflow:auto;">
    <div class="ajax-loader">
        <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
    </div>
    <table class="table table-bordered table-striped table-hover" id="dgother">
        <thead>
            <tr>
                <th class="green-tab">Document Amount Type</th>
                <th class="green-tab">TFC Code</th>
                <th class="green-tab">Amount</th>
                <th class="green-tab">Rate</th>
            </tr>
        </thead>
        <tbody class="loadTFC">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-record-display" id="newdivdgpayment" style="height:110px;overflow:auto;">
    <div class="ajax-loader">
        <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
    </div>
    <table class="table table-bordered table-striped table-hover" id="dgpayment">
        <thead>
            <tr>
                <th class="green-tab">Amount Collected</th>
                <th class="green-tab">FOP</th>
                <th class="green-tab">Amount Remitted</th>
            </tr>
        </thead>
        <tbody class="loadTFC">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-record-display col" id="newdivdbgCPNlist" style="height:130px;overflow:auto;position: relative;">
    <div class="ajax-loader">
        <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
    </div>
    <table class="table table-bordered table-striped table-hover" id="dbgCPNlist">
        <thead>
            <tr>
                <!--<th class="pink" id="test"></th>-->
                <th class="pink">CPN</th>
                <th class="pink">X/O</th>
                <th class="pink">GFPA</th>
                <th class="pink">CARRIER</th>
                <th class="pink">FLIGTH</th>
                <th class="pink">CLASS</th>
                <th class="pink">DATE</th>
                <th class="pink">TIME</th>
                <th class="pink">STATUS</th>
                <th class="pink">FARE BASIS</th>
                <th class="pink">NO VALID BEFORE</th>
                <th class="pink">NO VALID AFTER</th>
                <th class="pink">BAGGAGE ALLOWANCE</th>
                <th class="pink">BOOKING STATUS</th>
                <th class="pink">RBD</th>
                <th class="pink">USAGE SECTOR</th>
                <th class="pink">USAGE AIRLINE</th>
                <th class="pink">USAGE FLIGHT NO.</th>
                <th class="pink">USAGE DATE</th>
                <th class="pink">FFP</th>
            </tr>
        </thead>
        <tbody class=""></tbody>
    </table>
</div>

<div class="table-record-display" id="newdivdgOriDoc" style="height:110px;overflow:auto;">
    <div class="ajax-loader">
        <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" />
    </div>
    <table class="table table-bordered table-striped table-hover" id="dgOriDoc">
        <thead>
            <tr>
                <th class="green-tab">Original Issued Doc No</th>
            </tr>
        </thead>
        <tbody class="loadTFC">
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>