<div class="table-record-display" style="height:600px;overflow:auto" id="newtabNofarea">
    <table class="table table-bordered table-striped" style="width: 84%;">
        <thead>
            <tr>
                <th class="green-tab">Document No</th>
                <th class="green-tab">Date of Issue</th>
                <th class="green-tab">Agent Numeric Code</th>
                <th class="green-tab">Fare Calculation Area</th>
                <th class="green-tab">Fare Cuir</th>
                <th class="green-tab">Fare</th>
                <th class="green-tab">Fare Collected</th>
                <th class="green-tab">Amount Collected Cuir</th>
                <th class="green-tab">Amount Collected</th>
                <th class="green-tab">Tax Collected</th>
                <th class="green-tab">Surcharge Collected</th>
                <th class="green-tab">Fare Basis</th>
                <th style="display:none" class="green-tab keyelement-12">Passenger Name</th>
                <th style="display:none" class="green-tab keyelement-13">IBT</th>
                <th style="display:none" class="green-tab keyelement-14">Exchange</th>
                <th style="display:none" class="green-tab keyelement-15">Intererlining</th>
                <th style="display:none" class="green-tab keyelement-16">Original Issue Document Number</th>
                <th style="display:none" class="green-tab keyelement-17">Original Issue Date</th>
                <th style="display:none" class="green-tab keyelement-18">Equivalent Fare</th>
                <th style="display:none" class="green-tab keyelement-19">Exchange ADC</th>
                <th style="display:none" class="green-tab keyelement-20">Ori Fare Collected</th>
                <th style="display:none" class="green-tab keyelement-21">Ori Amount Collected</th>
                <th style="display:none" class="green-tab keyelement-22">Ori Tax Collected</th>
                <th style="display:none" class="green-tab keyelement-23">Ori Surcharge Collected</th>
                <th style="display:none" class="green-tab keyelement-24">Ori Transaction code</th>
                <th style="display:none" class="green-tab keyelement-25">Ori Fare Basis</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<select class="form-control" id="newAgentNumericCode" style="width:215px;">
    <option>-All-</option>
    <option></option>
</select>
