<div class="col-sm-12 tab-content tab-cancellation">
    <div id="search" class="tab-pane fade in active">
        <div class="content col-sm-12">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-sm-2 n-padding">
                        <select class="form-control" id="selectManuel" onclick="selectManuelTicketListe()">
                            <option class="form-control">Date Updated</option>
                            <option class="form-control">Date Of Issue</option>
                            <option class="form-control">Document Number</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <fieldset class="test-fieldst">
                            <div class="col-sm-2">
                                <label class="form-check-label col-form-label">From:</label>
                            </div>

                            <div class="col-sm-4 n-padding">
                                <div class="input-group date">
                                    <input type="text" name="FromManuelTicketListeUpdate" class="form-controls input-date" value="@ViewBag.date[1]" id="FromManuelTicketListeUpdate" />
                                    <span class="input-group-addon datetimepicker" onclick="setdate('FromManuelTicketListeUpdate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label class="form-check-label col-form-label">To:</label>
                            </div>
                            <div class="col-sm-4 n-padding" style="margin-top:-23px;position: relative;left: 58px;">
                                <div class="input-group date">
                                    <input type='text' name="ToManuelTicketListeUpdate" class="form-controls input-date input-datetimepicker" value="@ViewBag.date[1]" id="ToManuelTicketListeUpdate" />
                                    <span class="input-group-addon datetimepicker" onclick="setdate('ToManuelTicketListeUpdate')">
                                        <span class="glyphicon glyphicon-calendar" id="calendarPaxTo"></span>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="search-interogation green btn" onclick=""><span class="search-span">SEARCH</span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-record-display" id="" style="height:770px;overflow:auto;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="@Url.Content("~/Images/CSVPic.jpg")" style="height: 35px; top:15px;" />
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 margin-issue">
                        <label class="form-check-label col-form-label">Total No. Of CPNs:-</label>
                    </div>
                    <div class="col-sm-2 n-padding" id="selectSLS">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="col-sm-3" style="top:30px"><button type="button" class="search-interogation green btn" onclick="removeSousMenu()"><span class="search-span">Close</span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>

