

<select class="form-control" style="width:215px;">
    <option>-All-</option>
    @for (int id = 0; id < ViewBag.lignedateag; id++)
            {
        <option>@ViewBag.datadateag[0, id]</option>
    }
</select> 
