
<div id="affichageSBT">
    <div class="col-sm-9">
        <div class="col-sm-9" style="top: 16px;">
            <fieldset class="test-fieldst legent-issue-date" style="border: 1px solid white !important;">
                <legend class="test-fieldst" style="background-color:transparent">Sales Period Range and Transaction Type Selection</legend>
                <div class="col-sm-1 margin-issue" style="width: 7% !important;">
                    <label class="form-check-label col-form-label">From:</label>
                </div>

                <div class="col-sm-3 n-padding">
                    <div class="input-group date">

                        <!-- <span class="input-group-addon check-dape"><input type="checkbox" name="dateFromSalesTbt"></span> -->
                        <input type="text" class="form-control" id="dateFromSalesTbt" value="@ViewBag.dateFromSalesTbt" onchange="changeDate()">
                        <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateFromSalesTbt')"></span>

                    </div>
                </div>

                <div class="col-sm-1" style="width: 7% !important;">
                    <label class="form-check-label col-form-label">To:</label>
                </div>
                <div class="col-sm-3 n-padding">
                    <div class="input-group date">
                        <!-- <span class="input-group-addon check-dape"><input type="checkbox" name="dateToSalesTbt"></span> -->
                        <input type="text" class="form-control" id="dateToSalesTbt" value="@ViewBag.dateToSalesTbt" onchange="getTransactionCode()">
                        <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('dateToSalesTbt')"></span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <label class="form-check-label col-form-label">Transaction Type:</label>
                </div>

                <div class="col-sm-4 n-padding" style="position: relative;left: -10px;width: 148px;">
                    <select class="form-control" id="item">
                        <option>-ALL-</option>
                        @for(int i = 0; i < ViewBag.lonItem; i++)
                        {
                            <option>@ViewBag.ListeItem[0, i]</option>
                        }     
                    </select>
                </div>

            </fieldset>
        </div>
        <div class="col-sm-1" style="top: 40px;">
            <button class="btn btn-default"  onclick="searchSalesTransactionBT()">SEARCH </button>
        </div>
    </div>
    <div class="col-sm-10 n-padding" style="top: 28px;background-color: white;height: 550px;left: 22px;overflow: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="pink">Sale Date</th>
                    <th class="pink">Passenger Name</th>
                    <th class="pink">Document No</th>
                    <th class="pink">Doc Type</th>
                    <th class="pink">Cpn</th>
                    <th class="pink">Transaction Type</th>
                    <th class="pink">RBD</th>
                    <th class="pink">Fare Basis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12" style="top: 79px;left: 6px;">
        <div class="form-group row width-group">
            <label class="col-sm-2 col-form-label">Total Number Of Documents:</label>
            <div class="col-sm-2 n-paddin-left">
                <input type="text" name="nbSBT" id="nbSBT" value="@ViewBag.nombreSalesTbt" class="form-control" style="width: 93%;" disabled>
            </div>
            <div class="col-sm-2" style="float: right;">
                <button class="btn btn-default" type="button" onclick="closeNetshull('nutshell13')">CLOSE TAB</button>
            </div>
        </div>
    </div>

</div>