@using System.Data
@model DataSet
<option>-All-</option>
@foreach (DataRow dr1 in ViewBag.form2.Tables[0].Rows)
{

    for (int i = 0; i < ViewBag.form2.Tables[0].Columns.Count; i++)
    {
        <option>@dr1[ViewBag.form2.Tables[0].Columns[i].ColumnName].ToString()</option>
    }
}





