@using System.Data
@model DataSet
<!--fait par christian-->
<div class="col" id="newdivrbd-Agn"><input type="text" id="rbd-Agn" class="myForm" value="@ViewBag.agtname3"/></div>
<div class="col" id="newdivrbd-Agc"><input type="text" id="rbd-Agc" class="myForm" value="@ViewBag.agtpos3"/></div>
<!--fin fait par christian-->