@using System.Data
@model DataSet
<!--fait par christian-->
<div class="col" id="newdivcboagt3">
    <select type="text" id="cboagt3" class="myForm" onchange="onchangecboagt3_SelectedIndexChanged(this.value)">
        <option class="form-control" value="-All-" selected>-All-</option>
        @for (int i = 0; i < ViewBag.loncboagt3; i++)
        {
            <option class="form-control" value="@ViewBag.Listecboagt3[0, i]">@ViewBag.Listecboagt3[0, i]</option>
        }
    </select>
</div>
<!--fin fait par christian-->