<div class="container-remuneration container-pax1" style="background-color: rgb(117, 228, 252);height:93vh">
    <div class="row">
        <div class="col-sm-8" style="top:10px;">
            <fieldset class="test-fieldst" style="height:65px;">
                <legend class="test-fieldst">Refund Data Range</legend>
                <div class="col-sm-1"><span class="titre-text">From :</span></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('refundAuditFrom')"></span>
                        <input type="text" class="form-control" id="refundAuditFrom" value="@ViewBag.date[0]" style="padding-right:3px">
                    </div>
                </div>
                <div class="col-sm-1"><span class="titre-text">To :</span></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-calendar" onclick="setdate('refundAuditTo')"></span>
                        <input type="text" class="form-control" id="refundAuditTo" value="@ViewBag.date[0]" style="padding-right:3px">
                    </div>
                </div>
                <div class="col-sm-1"><button class="btn-default btn-search" onclick="searchrefundaudit()">SEARCH</button></div>
                <div class="col-sm-1"><button class="btn-default btn-search" onclick="removeSousMenu()">CLOSE</button></div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div id="refund-content" class="table-record-display" style="height:600px;overflow:auto;margin-top:2%;">
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">DOC NO</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">AGENT NO</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">DATE OF ISSUE</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">PASSENGER NAME</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">DOC TYPE</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">TICKETING AGENT ID</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">CURRENCY</th>
                            <th class="green-tab"  style="text-align:center;color:blue;font-size:15px;">AMT REFUND</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyrefund-content" style="text-align:center;">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1" style="top:50px">
            <div id="refundAuditNo"><span class="titre-text">Total No Of Doc:  </span></div>
        </div>
        <div class="col-sm-1" style="top:50px">
            <input type="text" class="form-control" id="totaldoc" value="" style="width:100%">
        </div>
    </div>
</div>

<script type="text/javascript">
    function searchrefundaudit() {

        let dateFrom = $("#refundAuditFrom").val();
        let dateTo = $("#refundAuditTo").val();

        let url = symphony + "/Process/searchrefundaudit";
        $.ajax({
            type: 'POST',
            url: url,
            data: { dateFrom: dateFrom, dateTo: dateTo },
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                $("#tbodyrefund-content").html($(data));
            },
            complete: function () {
                $('#totaldoc').val($('#newtotaldoc').val());
                $('.ajax-loader').css("visibility", "hidden");
                tableExchangedDocs();
            },
            error: function () {
                $('#errorModal').modal('show');
            }
        });
    }
</script>

