
<table class="table table-bordered table-striped" style="width: 84%;">
    <tbody>
        @for (int i = 0; i < ViewBag.lignedate; i++)
            {
            <tr data-url="@Url.Action("PAXTKTs","Sales")" ondblclick="ajout(this, 'PAXTKTs', 'Sales', 'PAX TKTs'); clickLigneTransactionNofare(this, '@ViewBag.datadate[0, i]', '', '')">
                @for (int j = 0; j < 7; j++)
                {
                    <td>@ViewBag.datadate[j, i]</td>
                }
            </tr>
        }
    </tbody>
</table>


