<!--fait par christian-->
@using System.Data
@model DataSet
    @for (int i = 0; i < ViewBag.ligne; i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.colone; j++)
            {
                <td>@ViewBag.Liste[i, j]</td>
            }
        </tr>
    }
<input type="hidden" class="form-control" id="newtotaldoc" value="@ViewBag.totaldoc" style="width:100%">
<!--fin fait par christian-->




