@using System.Data
@model DataSet
<!--fait par christian-->

<div class="col" id="newdivfare-Agn"><input type="text" id="fare-Agn" class="myForm" value="@ViewBag.agtname4" /></div>

<div class="col" id="newdivfare-Agc"><input type="text" id="fare-Agc" class="myForm" value="@ViewBag.agtpos4" /></div>