@using System.Data
@model DataSet
<!--fait par christian-->
<div class="col" id="newdivpricing-AgnName"><input type="text" id="pricing-AgnName" class="myForm" value="@ViewBag.txtagentname" /></div>

<div class="col" id="newdivpricing-AgcCode"><input type="text" id="pricing-AgcCode" class="myForm" value="@ViewBag.txtAgentLocation" /></div>

<!--fin fait par christian-->