@using System.Data
@model DataSet
<!--fait par christian-->
<div class="col" id="newdivbasis-Agn"><input type="text" id="basis-Agn" class="myForm" value="@ViewBag.txtagtname1"/></div>
<div class="col" id="newdivbasis-Agc"><input type="text" id="basis-Agc" class="myForm" value="@ViewBag.txtagtPOS"/></div>
<!--fin fait par christian-->