
<!--fait par nomentsoa christian-->
<select class="form-control" id="FlightTrans1">
    <option></option>
    @for (int i = 0; i < ViewBag.lonItemtax; i++)
    {
        <option value="@ViewBag.ListeItemtax[0, i]">@ViewBag.ListeItemtax[0, i]</option>
    }
</select>
<!--fin fait par christian-->