@using System.Data
@model DataSet
<!--fait par christian-->
<table class="table table-bordered table-striped table-hover table-result-code-name">
    <tbody>

       @for (int i = 0; i < ViewBag.londg; i++)
       {
            <tr onclick="putCodeAgentpm('@ViewBag.dg[0, i]','@ViewBag.dg[1, i]')">
               <td>@ViewBag.dg[0, i]</td>;
               <td>@ViewBag.dg[1, i]</td>;
            </tr>

        }
    </tbody>
</table>

<!--fin fait par christian-->