<form class="form-inline" id="formedit">
    <label class="form-check-label col-form-label">Origin City:</label>
    <input type="text" class="form-control-plaintext" id="origincity" maxlength="3" value="">
    <label class="form-check-label col-form-label">Destination City:</label>
    <input type="text" class="form-control-plaintext" id="destinationcity" maxlength="3" value="">
    <label class="form-check-label col-form-label">Prime Code:</label>
    <input type="text" class="form-control-plaintext" id="primecode" maxlength="1" value="">
    <label class="form-check-label col-form-label">RBD</label>
    <input type="text" class="form-control-plaintext" id="rbd" maxlength="1" value="">
    <div class="form-group mb-2">
        <label class="form-check-label col-form-label">MinShareValue:</label>
        <input type="number" class="form-control-plaintext" id="minsharevalue" value="">
    </div>
    <div class="form-group mb-2">
        <label class="form-check-label col-form-label">MaxShareValue:</label>
        <input type="number" class="form-control-plaintext" id="maxsharevalue" value="">
    </div>
      <input type="checkbox" class="custom-control-input" id="validation" name="super" value=""/>
    <label class="form-check-label col-form-label" id="Validation"  value="">Validation</label>
</form>
