
<div class="col-sm-12 tab-content tab-cancellation" style="background-color:#f7e57c">
    <div class="content-cancellation col-sm-12">
        <div class="row" style="margin-left: -31px;border: 1px solid gray;margin-bottom:15px">
            <div class="col-sm-6">
                <form id="" method="POST" action="">

                    <div class="col-sm-2" style="margin-top:15px;">  Credit Memo No: </div>
                    <div class="col-sm-4" style="margin-top:15px;">
                        <input type="text" class="" name="">
                    </div>
                    <div class="col-sm-2" style="margin-top:15px;margin-bottom:15px"><button type="button" class="search-interogation pink btn" onclick="" style="background-color:#cec5c5;left:1px"><span class="search-span" style="color:green"><b>Search</b></span></button></div>
                    <div class="col-sm-2" style="margin-top:15px; margin-bottom:15px"><button type="button" class="search-interogation pink btn" onclick="" style="background-color:#cec5c5;left:4px"><span class="search-span" style="color:black"><b>Close</b></span></button></div>

                </form>

            </div>
        </div>
        <div class="row" style="height: 777px;background: white;margin-left: -31px;border: 1px solid gray;">
            <div class="row" style="height: 33px;background: white;margin-left: -31px;border: 1px solid gray;">
                <table style="position:relative;top:-22px;">
                    <tr>
                        <td ><span class="glyphicon glyphicon-step-backward"></span></td>
                        <td><span class="glyphicon glyphicon-triangle-left"></span></td>
                        <td><input type="text" class="form-control" name=""></td>
                        <td>of</td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-triangle-right"></span></td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-step-forward"></span></td>
                        <td style="width:10px;">|</td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-arrow-left"></span></td>
                        <td style="width:10px;"><span class=""></span></td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-remove-circle"></span></td>
                        <td style="width:10px;"><span class=""></span></td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-refresh"></span></td>
                        <td style="width:10px;"><span class="">|</span></td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-print"></span></td>
                        <td style="width:10px;"><span class=""></span></td>
                        <td style="width:10px;"><span class="glyphicon glyphicon-list-alt"></span></td>
                        <td style="width:10px;"><span class=""></span></td>
                        <td><span class="glyphicon glyphicon-list-alt"></span></td>
                        <td style="width:10px;"><span class=""></span></td>
                        <t style="width:10px;"d><span class="	glyphicon glyphicon-floppy-saved"></span></td>
                        <td style="width:10px;"><span class="">|</span></td>
                        <td colspan="2"></td>
                        <td>
                            <select class="form-control" id="CompFln" style="width:125px" onclick="setCompFln()">
                                <option>100%</option>
                            </select>
                        </td>
                        <td></td>
                        <td><input type="text" class="form-control" name=""></td>
                        <td colspan="2"></td>
                        <td><span class="">Find</span></td>
                        <td><span class="">|</span></td>
                        <td><span class="">Next</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


