<div class="col-sm-11 tab-content tab-cancellation">
    <div class="row" style="background-color:#f7e57c"><label>label69</label></div>
    <div class="row" style="font-size:11px;">
        <div class="col-sm-3" style="border: 1px solid black;height: 815px;background-color:#f7e57c">
            <table class="table table-bordered table-striped" style="margin-left: -15px">
                <thead>
                    <tr>
                        <th class="red">Contrat No</th>
                        <th class="red">SPA ID</th>
                        <th class="red">SPA Agreement Betwen</th>
                        <th class="red"><center>Status</center></th>
                        <th class="red">Effective Date</th>
                        <th class="red">Expiry Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-sm-9" style="height: 815px;  background-color: white;">
            <ul class="nav nav-tabs" style="margin-left: -9px;">

                <li class="active"><a data-toggle="tab" href="#SPA" class="nav-pax">Special Proration Agreement</a></li>
                <li><a data-toggle="tab" href="#RBD" class="nav-pax">Reservatiopn Booking Desinator</a></li>
                <li><a data-toggle="tab" href="#FBR" class="nav-pax">Fare Basis Rules</a></li>
                <li><a data-toggle="tab" href="#Viewer" class="nav-pax">Viewer</a></li>
            </ul>
            <div class="tab-content" style="height: 783px;background-color:white">

                <div id="SPA" class=" col-sm-12 tab-pane fade in active" style="margin-top:12px">
                    <div class="col-sm-8">
                        <div class="row spatable0">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label>Contract No.</label></td>
                                        <td><input type="text" name="" style="margin-left: 30px;width: 100px;"></td>
                                        <td><label style="margin-left: 25px;">SPA ID</label></td>
                                        <td><input type="text" name="" style="margin-left: 30px;width: 60px;"></td>
                                        <td><label style="margin-left: 38px;">SPA Status</label></td>
                                        <td>
                                            <select class="" id="" onclick="">
                                                <option></option>
                                                <option>Valid</option>
                                                <option>Expired</option>
                                                <option>Terminated</option>
                                            </select>
                                        </td>
                                        <td><label style="margin-left: 31px;">Currency</label></td>
                                        <td>
                                            <select class="" id="" onclick="">
                                                <option></option>
                                                <option>USD</option>
                                                <option>EUR</option>
                                                <option>GPB</option>
                                            </select>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row spatable" style="margin-top:-5px;">
                            <table style="">
                                <tbody>
                                    <tr>
                                        <td><label>Special Prorate Agreement between :</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                    </tr>
                                    <tr>
                                        <td><label>And the folloxing airlines companies</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                    </tr>
                                    <tr>
                                        <td><label>Effective Date</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td></td>
                                        <td></td>
                                        <td><label style="margin-left: -24px;">Effective Date</label></td>
                                        <td></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row spatable" style="text-align:center">
                            <div class="col-sm-12">
                                <label class="col-sm-4 red" style="width:205px;margin-left:-14px">SPA Valid Between</label>
                                <label class="col-sm-4 red" style="width:205px;margin-left:148px">For Ticket Issue Date Between</label>
                                <label class="col-sm-4 red" style="width:205px;margin-left:141px">For Travel Date Between</label>
                            </div>
                            <table style="">

                                <tbody>
                                    <tr>
                                        <td><label>From</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><label style="margin-left: 139px;">From</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><label style="margin-left: 139px;">From</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                    </tr>
                                    <tr>
                                        <td><label>To</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><label style="margin-left: 139px;">To</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                        <td><label style="margin-left: 139px;">To</label></td>
                                        <td><input type="text" name=""></td>
                                        <td><button class="btn-default" data-toggle="modal" data-target="#"><span class="">?</span></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row spatable" style="border:1px solid black;margin-left:-7px;width:911px;margin-bottom:-2px;height:145px">
                            <label class="col-sm-12 red" style="width:909px;text-align:center;margin-bottom:0px;margin-left:0px;margin-top:0px">International Routes Between</label>
                            <ul class="nav nav-tabs" style="margin-left:11px;height: 42px;">
                                <li class="active"><a data-toggle="tab" href="#10" class="nav-pax">1</a></li>
                                <li><a data-toggle="tab" href="#20" class="nav-pax" id="tab-INAD">2</a></li>
                                <li><a data-toggle="tab" href="#30" class="nav-pax">3</a></li>
                                <li><a data-toggle="tab" href="#40" class="nav-pax" id="tab-INAD">4</a></li>
                            </ul>
                            <div class="tab-content" style="height: 540px;background-color:white">
                                <div class="col-sm-12 tab-pane fade in active" id="10">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="20">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="30">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="40">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row spatable" style="border:1px solid black;margin-left:-7px;width:911px;margin-bottom:-2px;height:145px">
                            <label class="col-sm-12 red" style="width:909px;text-align:center;margin-bottom:0px;margin-left:0px;margin-top:-3px">Domestic Routes Between</label>
                            <ul class="nav nav-tabs" style="margin-left:11px;height: 42px;">
                                <li class="active"><a data-toggle="tab" href="#11" class="nav-pax">1</a></li>
                                <li><a data-toggle="tab" href="#21" class="nav-pax" id="tab-INAD">2</a></li>
                                <li><a data-toggle="tab" href="#31" class="nav-pax">3</a></li>
                                <li><a data-toggle="tab" href="#41" class="nav-pax" id="tab-INAD">4</a></li>
                            </ul>
                            <div class="tab-content" style="height: 0px;background-color:white">
                                <div class="col-sm-12 tab-pane fade in active" id="11">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="21">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="31">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="41">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row spatable" style="border:1px solid black;margin-left:-7px;width:911px;margin-bottom:-2px;height:145px">
                            <label class="col-sm-12 red" style="width:909px;text-align:center;margin-bottom:0px;margin-left:0px;margin-top:-4px">Trans-Continental(TC) Area Routes</label>
                            <ul class="nav nav-tabs" style="margin-left:11px;height: 42px;">
                                <li class="active"><a data-toggle="tab" href="#12" class="nav-pax">1</a></li>
                                <li><a data-toggle="tab" href="#22" class="nav-pax" id="tab-INAD">2</a></li>
                                <li><a data-toggle="tab" href="#32" class="nav-pax">3</a></li>
                                <li><a data-toggle="tab" href="#42" class="nav-pax" id="tab-INAD">4</a></li>
                            </ul>
                            <div class="tab-content" style="height: 0px;background-color:white">
                                <div class="col-sm-12 tab-pane fade in active" id="12">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="22">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="32">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="42">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row spatable" style="border:1px solid black;margin-left:-7px;width:911px;margin-bottom:-2px;height:145px">
                            <label class="col-sm-12 red" style="width:909px;text-align:center;margin-bottom:0px;margin-left:0px;margin-top:-5px">Specific Routes</label>
                            <ul class="nav nav-tabs" style="margin-left:11px;height: 42px;">
                                <li class="active"><a data-toggle="tab" href="#13" class="nav-pax">1</a></li>
                                <li><a data-toggle="tab" href="#23" class="nav-pax" id="tab-INAD">2</a></li>
                                <li><a data-toggle="tab" href="#33" class="nav-pax">3</a></li>
                                <li><a data-toggle="tab" href="#43" class="nav-pax" id="tab-INAD">4</a></li>
                            </ul>
                            <div class="tab-content" style="height: 0px;background-color:white">
                                <div class="col-sm-12 tab-pane fade in active" id="13">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="23">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="33">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="43">
                                    <table style="">

                                        <tbody>
                                            <tr>
                                                <td><label>From</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>

                                            </tr>
                                            <tr>
                                                <td><label>To</label></td>
                                                <td><input type="text" name="" style="margin-left: 34px;width: 774px;"></td>
                                                <td><button class="btn-default" data-toggle="modal" data-target="#" style="margin-left:5px"><span class="">?</span></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="" checked style="margin-left:55px">
                                        <label>VISE VERSA</label>
                                        <button class="btn-default" style="width:100px;margin-left:495px">Delete</button>
                                        <button class="btn-default" style="width:100px ; margin-left:10px">Show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="height: 772px;background-color: white;">
                        <div class="col-sm-7" style="border: 1px solid black;margin-top: -8px;padding-bottom: 34px;">
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>Place Of Issue</label></div>
                            <div class="row"><input type="text" name="" style="margin-top: 6px;margin-left: 35px;width: 184px;"></div>
                            <div class="row" style="margin-left: 35px;margin-top:10px"><input type="checkbox" name=""><label>NORMAL TICKET</label></div>
                            <div class="row" style="margin-left: 35px;"><input type="checkbox" name=""><label>FIM ALLOWED</label></div>
                            <div class="row" style="margin-left: 35px;"><input type="checkbox" name=""><label>INVOLONTARY REROUTE</label></div>
                            <div class="row" style="margin-left: 35px;"><input type="checkbox" name=""><label>INVOLVE BOTH PARTIES</label></div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>Discount</label></div>
                            <div class="row discountElem" style="margin:10px 17px 0px 0px;margin-left:17px">
                                <label>IN</label>
                                <select>
                                    <option></option>
                                    <option>SPA</option>
                                    <option>MPA</option>

                                </select>
                                <select>
                                    <option></option>
                                    <option>%</option>
                                    <option>Amt</option>
                                </select>
                                <input type="text" name="">
                            </div>
                            <div class="row discountElem" style="margin:10px 0px 0px 0px;margin-left:17px">
                                <label>IN</label>
                                <select>
                                    <option></option>
                                    <option>SPA</option>
                                    <option>MPA</option>

                                </select>
                                <select>
                                    <option></option>
                                    <option>%</option>
                                    <option>Amt</option>
                                </select>
                                <input type="text" name="">
                            </div>
                            <div class="row"><button class="btn-default" style="width:157px;margin-left: 46px;">Others</button></div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>IATA Seasons</label></div>
                            <div class="row " style="margin-left: 33px;margin-top: 10px;">
                                <input type="checkbox" name=""><label>Summer</label>
                                <input type="checkbox" name="" style="margin-left: 47px;"><label>Winter</label>
                            </div>
                            <div class="row"><button class="btn-default" style="width:157px;margin-left: 46px">View IATA Seasons</button></div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>SPA Seasons</label></div>

                            <div class="row"><button class="btn-default" style="width:157px;margin-left: 46px;margin-top:12px">SPA Seasons</button></div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>Fare Types</label></div>

                            <div class="row"><button class="btn-default" style="width:157px;margin-left: 46px;margin-top:12px">Fare Types</button></div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>3rd Party Allowed</label></div>
                            <div class="row" style="margin-left: 33px;margin-top: 10px;">
                                <input type="radio" name="" checked><label>Yes</label>
                                <input type="radio" name="" style="margin-left: 70px;"><label>No</label>
                            </div>
                            <div class="row" style="margin-left: 33px;margin-top: 10px;">
                                <input type="radio" name=""><label>Journey</label>
                                <input type="radio" name="" style="margin-left: 47px;"><label>ATBP</label>
                            </div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>Flight Restrictions</label></div>

                            <div class="row"><button class="btn-default" style="width:157px;margin-left: 46px;margin-top: 10px;">Flight Restrictions</button></div>
                            <div class="row red" style="text-align:center;margin-top: 10px;margin-left: 0px;margin-right: 0px;"><label>Share Determination</label></div>
                            <div class="row" style="margin-left: 33px;margin-top: 10px;">
                                <input type="radio" name="" checked><label>Net</label>
                                <input type="radio" name="" style="margin-left: 75px;"><label>Gross</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="RBD" class="tab-pane fade">
                    <div class="col-sm-12">
                        <div class="row rbd" style="margin-top:10px">
                            <button class="btn-default">RBD ENTRY</button>
                            <button class="btn-default">RBD MAPPING</button>
                            <button class="btn-default">FARE DISTRIBUTION</button>
                        </div>
                        <div class="col-sm-8 rbd1" style="margin-top:10px;background-color:#f7e57c">

                            <table>
                                <thead><tr><th><label>Carrier</label></th> <th><label style="margin-left:242px">Reservation Booking Desinator</label></th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" style="width: 67px;"></td>
                                        <td><input type="text" name="" style=" width: 700px;"></td>
                                        <td><input type="text" name="" style="width:25px"></td>
                                        <td><button>+</button></td>
                                        <td><button>-</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-8" style="border:1px solid black;height:287px; margin-top:10px;background-color:#f7e57c">

                        </div>
                        <div class="trbd">
                            <table style="border:1px solid black;background-color:#f7e57c">
                                <thead class="red"><tr><th><label style="width: 61px;text-align: center;">RDB LIST</label></th></tr></thead>
                                <tbody>
                                    <tr><td><label>Carrier</label></td></tr>
                                    <tr><td><select style="width: 62px;height: 22px;"><option></option></select></td></tr>
                                    <tr><td><input type="checkbox" name="">A</td></tr>
                                    <tr><td><input type="checkbox" name="">B</td></tr>
                                    <tr><td><input type="checkbox" name="">C</td></tr>
                                    <tr><td><input type="checkbox" name="">D</td></tr>
                                    <tr><td><input type="checkbox" name="">E</td></tr>
                                    <tr><td><input type="checkbox" name="">F</td></tr>
                                    <tr><td><input type="checkbox" name="">G</td></tr>
                                    <tr><td><input type="checkbox" name="">H</td></tr>
                                    <tr><td><input type="checkbox" name="">I</td></tr>
                                    <tr><td><input type="checkbox" name="">J</td></tr>
                                    <tr><td><input type="checkbox" name="">K</td></tr>
                                    <tr><td><input type="checkbox" name="">L</td></tr>
                                    <tr><td><input type="checkbox" name="">M</td></tr>
                                    <tr><td><input type="checkbox" name="">N</td></tr>
                                    <tr><td><input type="checkbox" name="">O</td></tr>
                                    <tr><td><input type="checkbox" name="">P</td></tr>
                                    <tr><td><input type="checkbox" name="">Q</td></tr>
                                    <tr><td><input type="checkbox" name="">R</td></tr>
                                    <tr><td><input type="checkbox" name="">S</td></tr>
                                    <tr><td><input type="checkbox" name="">T</td></tr>
                                    <tr><td><input type="checkbox" name="">U</td></tr>
                                    <tr><td><input type="checkbox" name="">V</td></tr>
                                    <tr><td><input type="checkbox" name="">W</td></tr>
                                    <tr><td><input type="checkbox" name="">X</td></tr>
                                    <tr><td><input type="checkbox" name="">Y</td></tr>
                                    <tr><td><input type="checkbox" name="">Z</td></tr>

                                    <tr><td><button class="btn-default" style=" width: 62px;margin-top: 45px;">OK</button></td></tr>
                                    <tr><td><button class="btn-default" style=" width: 62px;margin-top: 15px;margin-bottom: 15px;">Cancel</button></td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="FBR" class="tab-pane fade">
                    <div class="col-sm-8">
                        <div class="row red" style="text-align:center;margin-top: 20px;margin-left:-4px;margin-right:0px">
                            <label>Fares Basis Rules</label>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-3">
                                <label>Operator</label>
                            </div>
                            <div class="col-sm-3">
                                <label>Fare Basis</label>
                            </div>
                            <div class="col-sm-3">
                                <label>Value</label>
                            </div>
                            <div class="col-sm-3">
                                <label>Result</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Equals</option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <select style="width: 200px;height: 19px;">
                                    <option></option>
                                    <option>Fare Basis Contains</option>
                                    <option>Fare Basis Part Contains</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 85px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Viewer" class="tab-pane">
                    <div class="col-sm-12 red" style="height: 776px;margin-top: 3px;margin-left: -13px;margin-right: 7px;width: 1430px;">
                        <div class="col-sm-12">
                            <button class="btn-default" style="margin-left: -19px;width: 20px;margin-top:6px">_</button>
                        </div>
                        <div class="footer" style="padding-top:750px">

                            <span class="glyphicon glyphicon-download"></span>
                            <span class="glyphicon glyphicon-upload"></span>
                            <label>Page</label>
                            <input type="number" name="quantity" min="1" style="width: 72px;">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                            <span class="glyphicon glyphicon-zoom-out"></span>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="row red" style="height: 50px">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-top: 12px;">
            <button class="btn-default" style="margin-left: -13px;width: 155px;">New Contract</button>
            <button class="btn-default" style="margin-left: 90px; width: 75px;">New</button>
            <button class="btn-default" style="margin-left: 15px; width: 75px;">Edit</button>
            <button class="btn-default" style="margin-left: 15px; width: 75px;">Save</button>
            <button class="btn-default" style="margin-left: 15px; width: 75px;">Close</button>
        </div>
        <div class="col-sm-3" style="margin-top: 12px;">
            <button class="btn-default" style="margin-left: 75px; width: 128px;">View SPA</button>
        </div>
    </div>
</div>

