<div class="top-process">
    <h3>Reporting and Accounting</h3>
</div>
<div class="container-sales">
    <div class="container">
        <div class="row mygrind ">
            <button class="reporting-button2">Reporting</button>
        </div>
        <div class="space"></div>
        <div class="row mygrind">
            <div class="col col-md-5 title">
                <span class="title"><b>SALES REPORT CATEGORIE</b></span>
            </div>
            <div class="col col-md-5 title">
                <span class="title"><b>FLOWN REPORT CATEGORY</b></span>
            </div>
        </div>
        <div class="space"></div>
        <div class="row mygrind ">
            <div class="col col-md-1">I</div>
            <div class="col col-md-4">ACMA ADM Detail</div>
            <div class="col col-md-1">I</div>
            <div class="col col-md-4">Flight Count By sector</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">II</div>
            <div class="col col-md-4">Discount by Date_Agent_DocumentNumber_Coupon</div>
            <div class="col col-md-1">II</div>
            <div class="col col-md-4">Flown By Flight Date Routing</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">III</div>
            <div class="col col-md-4">FileUploadStatus_Detail</div>
            <div class="col col-md-1">III</div>
            <div class="col col-md-4">Flown Details</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">IV</div>
            <div class="col col-md-4">FileUploadStatus_Summary</div>
            <div class="col col-md-1">IV</div>
            <div class="col col-md-4">Flown Fare Basis PaxCount</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">V</div>
            <div class="col col-md-4">File Baggage Allowance Excess</div>
            <div class="col col-md-1">V</div>
            <div class="col col-md-4">Flown Revenue</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">VI</div>
            <div class="col col-md-4">Refunds Details</div>
            <div class="col col-md-1">VI</div>
            <div class="col col-md-4">Flown Revenue Excluding Charter</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">VII</div>
            <div class="col col-md-4">Sales Analysis By agent</div>
            <div class="col col-md-1">VII</div>
            <div class="col col-md-4">Unprorated Tckets</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">VIII</div>
            <div class="col col-md-4">Sales Analysis By Fare Basis</div>
            <div class="col col-md-1">VIII</div>
            <div class="col col-md-4">Unused Coupons</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">IX</div>
            <div class="col col-md-4">Sales Analysis By RBDs</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">X</div>
            <div class="col col-md-4">Sales Analysis FOP</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XI</div>
            <div class="col col-md-4">Sales Analysis of Ticket With Zero Values</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XII</div>
            <div class="col col-md-4">Sales By Dates Currency</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XIII</div>
            <div class="col col-md-4">Sales Details Listing</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XIV</div>
            <div class="col col-md-4">Sales Document Listing</div>
            <div class="col col-md-6 title"><b>INTERLINE REPORT CATEGORY</b></div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XV</div>
            <div class="col col-md-4">Sales Summary By Date And Agent</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XVI</div>
            <div class="col col-md-4">Sales TFCs & Surcharges</div>
            <div class="col col-md-1">I</div>
            <div class="col col-md-4">Inward Billing Summary</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XVII</div>
            <div class="col col-md-4">Sales v/s Flown Performance</div>
            <div class="col col-md-1">II</div>
            <div class="col col-md-4">Outward Billing Summary</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XVIII</div>
            <div class="col col-md-4">Summary Sales Flown Coupon By Flight</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XVIII</div>
            <div class="col col-md-4">Summary Sales Flown Coupon By Flight</div>
        </div>
        <div class="row mygrind">
            <div class="col col-md-1">XIX</div>
            <div class="col col-md-4">Tax By Date Agent</div>
        </div>
        <div class="espace"></div>
        <div class="row mygrind">
            <div class="col col-md-5">
                <button class="reporting-button1">Accounting</button>
            </div>
            <div class="col col-md-5">
                <img src="images/symphony.png" />
            </div>
        </div>
    </div>
</div>
